body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 36px;
    padding: 36px 0;
}

header {
    margin-top: 36px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 36px;
}

header a {
    font-weight: bold;
    color: #ff7070;
    margin-right: 16px;
    text-decoration: none;

}

.partial {
    width: 260px;
}

input {
    padding: 6px;
}

button {
    padding: 8px;
    font-weight: bold;
    background-color: #ff7070;
    border: none;
    outline: none;
}